#survey th, #survey td {
    text-align:  center

}

#survey th {
    border-right: 3px solid !important;
    border: 2px solid cadetblue ;
    background-color: cadetblue;
    color: #fff;
}

#surveylist .action-th{
    border-right: 2px solid cadetblue !important;
}

#surveylist {
 border-bottom: 2px solid silver;
}

#survey  #surveylist  tr {
    border-left: 2px solid silver;
    border-right: 2px solid silver;
}

.color-gray{
    background-color: #f6f6f6;
}



#survey .row, #survey .input-field{
    margin-bottom: 0px !important
}
