.TenantRequestForm{
    width: 60% !important;
    margin: 0 auto !important;
    border: 1px solid;
    margin-top: 70px !important;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 50px !important;
}

.TenantRequestForm .header-title{
    text-align: left;
    margin-left: 10px;
    margin-top: -30px;
    margin-bottom: 40px;
}

#TenantRequestList .modal{
    z-index: 1003 !important; 
    display: block !important; 
    opacity: 1 !important; 
    top: 10% !important; 
    transform: scaleX(1) scaleY(1) !important;
	transition: all 5s ease-in-out !important;
}

#TenantRequestList .modal-overlay{
    z-index: 1002; display: block !important;  
    opacity: 0.5 !important;
}
.TenantRequestForm .border-r
{
    border-right: 1px solid !important;
}