#UserForm{
    text-align: center
}

#UserForm form{
    margin-bottom: 50px;
    margin-top: 36px;
}

#UserForm form input{
    margin-top: 5px;
    padding-left: 5px;
}

#UserForm .row , #UserForm .input-field{
    margin-bottom : 0px;
}
#UserForm form .submit-btn{
width: 80%;
/* background-color: rgb(241, 125, 129); */
background-color: #26a69a;
margin-left: 10px;
margin-top : 30px;
}

#UserForm form .submit-btn[disabled] {
    color: white !important;
    /* background-color: rgb(235, 166, 168) !important; */
    background-color: #59a8a0c7 !important;
  }
#UserForm form label{
    font-weight: bold;
}

#UserForm .footer_login{
    margin-top: 45px !important;
    margin-bottom: 45px !important;
    text-align: center
}

#UserForm .title{
    font-weight: bold;
    font-size: 18px;
}

.close_btn{
    position: absolute;right: 5px !important;top: 5px !important;
    cursor: pointer;
}

#UserForm .selected{
    display: inherit !important;
    margin-top: 24px;
    border: 1px solid #fafafa;
    background: #fafafa;
    border-bottom: 1px solid;
}