.user-page {
	margin: 20px;
}

.user-page .modal{
	z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);
	transition: all 5s ease-in-out;
}

.user-page .modal-overlay{
	z-index: 1002; display: block; opacity: 0.5;
}

#UserForm .selected{
	display: inherit !important;
    margin-top: 36px !important;
    border: 1px solid #fafafa !important;
    background: #fafafa !important;
    border-bottom: 1px solid !important;
}