.container {
	width: 100%;
	margin: 0;
	max-width: unset;

	text-align: center;
}

.btn-collection {
	margin-top: 20px;
}

.t-left{
	text-align: left !important;
}
.toast{
	position: "absolute";
	top : 0px;
}

#toast-container {
	top: 0 !important;
	right: 15px !important;
  }



  #preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	/* change if the mask should have another color then white */
	z-index: 99;
	/* makes sure it stays on top */
  }
  
  #status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	/* centers the loading animation horizontally one the screen */
	top: 50%;
	/* centers the loading animation vertically one the screen */
	background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
	/* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	/* is width and height divided by two */
  }

  .paddingLeft-0 {
	  padding-left: 0px !important
  }

  .padding-0{
	  padding: 0px !important
  }
  .padding-5{
	padding: 5px !important
  }

  .textalingLeft{
	  text-align: left
  }

  /*COlor*/

  .redText{
	  color: red !important
  }