#LoginForm{
    width: 30%;
    border:1px solid;
    margin-top: 70px !important;
    margin: 15px 38px 0px auto;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 50px !important;
}

#LoginForm form{
    margin-bottom: 50px;
}

#LoginForm form input{
    border: 1px solid;
    margin-top: 5px;
    padding-left: 5px;
}

#LoginForm .row , #LoginForm .input-field{
    margin-bottom : 0px;
}
#LoginForm form .submit-btn{
width: 80%;
/* background-color: rgb(241, 125, 129); */
background-color: #26a69a;
margin-left: 50px;
}

#LoginForm form .submit-btn[disabled] {
    color: white !important;
    /* background-color: rgb(235, 166, 168) !important; */
    background-color: #59a8a0c7 !important;
  }

#LoginForm form label{
    font-weight: bold;
}

#LoginForm .fb_signup_txt{
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-weight: 800;
    padding-left: 10px;
}

#LoginForm .loginwithGoogle{
    width: 80%;
    height: 45px;
    color: rgb(118, 118, 118) !important;
    background: white;
    border: 2px solid rgb(118, 118, 118);
    border-radius: 4px !important;
    margin: 0 auto;
}

#LoginForm .loginwithGoogle svg{
    width: 18px;
    height: 23px;
    color: white;
    fill: currentcolor;
    display: block;
}

#LoginForm .div_google{   
    margin: 0 auto;
    width: 54%;
    display: flex;
    padding-top: 8px;

}
#LoginForm .or_txt_signup
{
    margin-top: -5px;
}
#LoginForm .footer_login{
    margin-bottom: 45px !important;
    text-align: center;
}
