.brand-logo {
	margin-left: 55px;
	position: relative;
	left: 0;
	padding: 0 15px 0 15px !important;
}

.nav-wrapper > ul > li > .selected {
	background-color: #c1d4d4  !important;
}

nav ul span:hover {
	background-color: rgba(0,0,0,0.1);
}

nav ul span {
	transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

nav {
	background-color: #5f9ea0 !important;
}
