.numberCircle {
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    background-color: #028fff  !important;
    color : #fff;
    font-weight: 900;
}

.to_survey_tr{
    margin-left: 44px;
    
}
.tabs{
    cursor: pointer;
}

tr {
    border-bottom : 0px solid !important
}

.section_settings{
 
 margin-bottom: 50px;   
}
.section_settings_line{
    background-color: #5f9ea0a8;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15px;
    position: relative;
    color: #fff;
}

.section_settings_line .arrow{
    position: absolute;
    right: 52px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.section_settings label{
    font-size: 15px;
    font-weight: 600;
}

/* .{
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15px;
    position: relative;
    color: #fff;
    border: 2px solid #000;
    margin-top: 15px;
} */

.editor-tools button{
    margin-right: 5px;
}

.editor-tools .material-icons{
    margin-left: -5px;
    font-size: 18px;
}

.editor-tools .select-wrapper{
    width: 90%;
    border: 2px solid;
    padding-left: 14px;
    height: 26px;
    border-radius: 15px;
}

.editor-tools .select-wrapper input{
    border-bottom: 0px;
    height: 20px;
}
.editor-tools .select-wrapper input.select-dropdown:focus{
    border-bottom: 0px;
}

.editor-tools .validate{
    font-size: 8px;
}

.inputnumber{
    width: 36% !important;
    border: 2px solid !important;
    height: 25px !important;
    padding-left: 5px;
}


.editor-tools .row{
    margin-top: 10px !important;
    margin: 0 auto;
}

.select_border{
    border-style :  dotted !important;
    border-color: #F44336 !important;
}

.subtitles{
    margin-top : 10px; 
}

.question{
    margin-top : 20px; 
    padding-left: 15px;
    /* height: 150px; */
}

.question-footer{
    height: 40px;
    margin-top : 20px; 
    position: relative;
}

.question-footer .next{
    position : absolute;
    right: 0
}

.selected-tabs {
    background-color: #bfd9d6;
    border: 2px solid #bfd9d6 !important;
}

.questions_list{
    height: 45px;
    padding-top: 10px;
    border-bottom: 2px solid #e5e4e4 !important;

    text-align: center;
    cursor: pointer;
}
.section_design .row{
    margin-bottom: 0px !important
}

.seleted_question_type{
    background-color: rgba(169, 187, 188, 0.66);
}

.Serveytabs table{
        cursor: pointer;
}

.display-none{
    display: none;
}
.survey_userslist #modal1{
    overflow: hidden !important;
}
.question_types{
    padding: 0px !important;
    height: 550px;
}

.questions_model{
    display: block !important;
}

.section_design .modal{
	z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);
	transition: all 5s ease-in-out;
}

.section_design .modal-overlay{
	z-index: 1002; display: block; opacity: 0.5;
}

/* .question{
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-top: 50px;
    padding-top: 20px;
} */

select{
    background-color : inherit !important
}

.line{
    padding-top: 25px;
    border-top: 2px solid rgb(229, 228, 228);
}

.search-button{
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
    height: 30px;
    border: 0px;
    background-color: #fff;
    color: #5f9ea0;
}

.survey_title_cols{
    position: absolute;
    bottom: 31px;
    right: 0 !important;
    display: none; 
}

.page_title_cols{
    position: absolute;
    right: 0 !important;
    display: none; 
}
.page_title_cols_btn{
    position: absolute;
    right: 0 !important;
    display: none; 
}

.page_title_cols_btn span{
    position: absolute !important;
} 

.page_title_cols_btn button{
    right: 264px;
    position: absolute !important;
} 
.page_title{
    margin-top: 10px;
    border: 2px solid #fff
}
.page_title:hover .page_title_cols{
    display: block;
}


.page_title:hover .page_title_cols_btn{
    display: block;
}

.section_settings_line :hover .survey_title_cols{
    display: block;
}

.section_settings_line :hover .survey_title_cols{
    display: block;
}

.survey_title_cols span{
    position: absolute !important;
} 

.rating_scaling:hover .question-button{
    display: block;
}

.commentbox:hover .question-button{
    display: block;
}


.question-button{
    display: none;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 25px;
    line-height: 1;
}

.question-edit-button{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 25px;
    line-height: 1;
    display: none;
}
    

.Footer-question-add{
    padding: 9px;
    border: dotted;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Footer-question-add h6{
    text-align: center;
    color: #a1dfa1;
}

.question-list-border{
    /* border: dotted; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 35px;
    border: 2px solid #fff
}
.question-list-border:hover{
    border: dotted;
}

.page_title:hover{
    border: dotted;
}

.question-list-border:hover .question-edit-button{
    display: block;
}

.preview-survey{
    width: 80%;
    margin: 0 auto;
    padding-top: 4%;
}
.preview-survey-footer{
    background: #9E9E9E;
}
.preview-survey-footer-button
{
    padding: 15px;
    text-align:  center;
}

.preview-survey .input:not([type]), .preview-survey input[type=text]:not(.browser-default){
    border-bottom : dotted !important
}

.create-survey-model{
    z-index : 1111 !important;
    width: 25% !important;
}