.settings-page {
	text-align: left;
	margin: 20px 20px 0 20px;
}

.settings-card {
	padding: 5px 20px 20px 20px;
	height: 100% !important;
}

.settings-card.portal-administrator {
	height: 285px !important;
}

.settings-card.database {
	height: 250px !important;
}

.settings-card .edit{
  font-size: 15px;
  cursor:  pointer
}

.settings-page .modal{
	z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);
	transition: all 5s ease-in-out;
}

.settings-page .modal-overlay{
	z-index: 1002; display: block; opacity: 0.5;
}

.settings-page .modal{	
    width: 30%;
    text-align: center;
}

.settings-page input{
	width: 75% !important;
}

.settings-page .editForm{	
    margin-top: 15px;
    margin-bottom: 15px;

}

.settings-page .editForm label{	
	font-weight: bold;
	font-size: 15px;
}